.content {
    width: 100%;
    position: relative;
}
.content form div#form-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}
.header_content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}
.content form div.inputs-content {
    width: 100%;
}
.content form input, 
label.up-label, 
textarea, 
select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}
label.up-label {
    display: block;
    margin-top: 25px;
}
.content form input[type=submit] {
    display: block;
    padding: 10px;
    background: var(--color-button-green);
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 30px;
}
span {
    color: red;
}
label.up-label {
    border: 1px solid var(--color-button-green);
    cursor: pointer;
    background-color: var(--color-button-green);
    color: white;
    transition: 0.3s ease-out;
}
label.up-label:hover {
    border: 1px solid #666;
    background-color: white;
    color: black;
}
#preview1 {
    height: 255px;
}
#preview2 {
    height: 155px;
}

#imagePreview1 {
    max-width: 255px;
}
#imagePreview2 {
    max-width: 155px;
}
.image-preview {
    height: 255px;
    border-top: 2px dotted #999;
    border-right: 2px dotted #999;
    border-left: 2px dotted #999;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.image-preview__image {
    display: none;
}
span.image-preview__default-text {
    color: #999;
}
strong {
    font-size: 12px;
}
h5.img-name {
    background: #999;
    color: white;
    padding: 4px 10px;
    margin-bottom: 20px;
    font-family: Arial;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
