* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;
}
header {
    width: 100%;
    height: 90px;
    background: rgb(190, 126, 62);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}
header h1 {
    color: white;
    font-size: 42px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding-left: 40px;
    font-weight: 800;
}
header input {
    margin-right: 40px;
    padding: 10px;
    color: #666;
    width: 400px;
    border: none;
    outline: none;
    font-weight: 700;
}
main {
    max-width: 1150px;
    margin: 16px auto;
}
main ul {
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr; 
    margin-top: 100px;   
}
main ul li {
    width: 360px;
    height: 110px;
    border: 1px solid #ddd;
    margin: 6px; 
    padding: 10px 20px;
    cursor: pointer;
}
footer {
    width: 100%;
    height: 40px;
    background: rgb(94, 48, 5);
    color: aliceblue;
    text-align: center;
}