* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;
    color: #696969;
}
body {
    background: #f7f7f7;
}
header {
    width: 100%;
    height: 90px;
    background: #834b02; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
}
header h1 {
    color: white;
    font-size: 42px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding-left: 40px;
    font-weight: 800;
}
header input {
    margin-right: 40px;
    padding: 10px;
    color: #666;
    width: 400px;
    border: none;
    outline: none;
    font-weight: 700;
}
main {
    max-width: 1150px;
    margin: 16px auto;
}
main ul {
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr; 
    margin-top: 100px;   
}
main ul li {
    width: 360px;
    height: 110px;
    margin: 6px; 
    padding: 10px 20px;
    background-color: white;
    position: relative;
    cursor: pointer;
}
main ul li a.buy {
    padding: 5px;
    background-color: darkseagreen;
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: white;
    border-radius: 4px;
    transition: 5ms;
}
main ul li a.buy:hover {
    background-color: #78ac78;
}
main ul li a {
    text-decoration: none;
}
main ul li h3 {
    margin: 8px 0;
    font-size: 16px;
    line-height: 18px;
}
main ul li span {
    font-size: 18px;
    position: absolute;
    bottom: 10px;
}
main ul li img {
    float: left; 
    margin-right:22px;
}
footer {
    width: 100%;
    height: 40px;
    background: rgb(94, 48, 5);
    color: aliceblue;
    text-align: center;
}