main {
    min-height: 100vh;
    margin-top: 116px;
    color: var(--text-black);
}
#product-details {
    max-width: 700px;
    height: 260px;
    background-color: white;
    margin: 0px auto;
    padding: 16px;
    position: relative;
}
#product-details ul {
    padding: 0;
    display: grid;
    grid-template-columns: 255px 1fr;
}
#product-details ul h4 {
    color: var(--text-gray);
}
#product-details ul p {
    font-weight: normal;
    font-size: 12px;
}
#product-details ul span {
    font-size: 26px;
    color: var(--text-red)
}
#product-details a.buy {
    padding: 8px 18px;
    background-color: darkseagreen;
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    border-radius: 4px;
    transition: 5ms;
    text-decoration-line: none;
}
#product-details a.buy:hover {
    background-color: #78ac78;
}

#details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}