main {
    margin: 100px  auto;
    max-width: 1220px;
    background-color: white;
    padding: 20px;
}
table {
    margin: 10px auto;
    width: 100%;
}
table, caption, th, tr, td{
    border: 1px solid #d2cb8c;
    border-collapse: collapse;
}
caption, th, tr, td {
    padding-left: 16px;
}
caption {
    background-color: #d2cb8c;
} 
th {
    background-color: #dbdbdb;
} 
table td.inputs {
    text-align: right;
}
table td.inputs input {
    outline: none;
    width: 100px;
    padding-left: 10px;
}
