.content {
    width: 100%;
}
main #payment-content {
    max-width: 400px;
    background-color: white;
    margin: 0px auto;
    padding: 20px;
}
main form label {
    display: block;
    text-align: left!important;
}
main #payment-content form input, select {
    margin: 10px 0;
    padding: 10px;
}
main #payment-content form input[type=submit] {
    border: none;
    background: var(--color-button-brown);
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.tipy-pay {
    margin: 20px 0;
    display: flex;
}
.tipy-pay div{
    margin-right: 40px;
}

#purchase-price {
    display: block;
    margin: 20px auto;
    padding: 8px;
    background-color: var(--color-button-green);
    color: white;
}
.flags {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flags .line {
    display: flex;
    align-items: center;
    margin: 0 20px 20px;
}
.flags .line img {
    margin: 0 4px;
}

.credit-card, .billet {
    display: none;
}

.show {
    display: flex;
    flex-direction: column;
}
